@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);

#map {
  width: 960px;
  height: 500px;
}

#schooldistrict {
    stroke: white;
    stroke-width: 1px;
    fill: #c0c0c0;
}

div.tooltip {   
    position: absolute;           
    text-align: center;           
    width: auto; 
    height: auto;
    padding: 2px;
    font-family: "PT Sans", sans-serif;
    font-size: 12pt;
    color: white;
    background: cornflowerblue;
    border: 1px; 
    border-radius: 8px; 
    pointer-events: none; 
} 

button, .dropdown-menu {
  width: 175px;
  font-family: "PT Sans", sans-serif;
}

.dropdown-menu {
  z-index: 101;
}

header,
footer,
aside,


h1,
h2,
h3,
h4 {
    font-family: "PT Sans", sans-serif;
}

h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -2px;
  margin: .3em 0 .1em 0;
}

header, footer {
  color: #636363;
}

body {
  background: #fcfcfa;
  color: #333;
  font-family: "PT Serif", serif;
  margin: 1em auto 4em auto;
  position: relative;
}

header aside,
footer aside {
  float: left;
  margin-right: 1em;
}

header aside:after,
footer aside:after {
  padding-left: .5em;
  content: "||";
}

#overlay {
  position: absolute;
  z-index: 100;
  padding: 4px 9px;
  min-width: 180px;
  max-width: 400px;
  max-height: 400px;
  overflow: auto;
}

.caret {
  margin-top:8px;
}
