html {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;  
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: lightgray;
}

body {
  width: 1200px;
  margin: 0 auto;
  background-color: #E6F9FF;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;  
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}

// transferred from the index.html cut 1

<style>
* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 70%;
  padding: 10px;
  height: 300px; 
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

// transferred from the index.html cut 2

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 70%;
  padding: 10px;
  height: 300px; 
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
